html {
    font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: 'Orbitron', sans-serif;
    color: white;
    /* font-family: 'Protest Strike'; */
    /* font-family: "Open Sans", sans-serif; this should be the rest of the output you got from Google Fonts */
    background-color: rgb(0, 0, 0);
}

body{
    /* position:sticky; */
    /* overflow-y:auto;
    overflow-x:auto; */
    width:auto;
    margin:0px;
    /* padding: 0 20px 20px 20px; */
}

h1{
    font-family: 'Protest Strike';
    font-size: 90px;
    /* width:540px; */
    text-align: center;
    margin: 0;
    /* padding: 20px; */
    color: rgb(254, 0, 237);
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    font-weight: 700;
}
h2{
    font-family: 'Protest Strike';
    color:rgb(255, 119, 0);
    text-shadow: 2px 2px 1px rgb(0,0, 0);
    /* margin: -5px; */
    /* width:540px; */
    text-align: center;
    font-size: 40px;
}

.container{
    display:grid;
    grid-template-rows: 100px,60px,60px,60px,1fr;
    grid-template-columns:25%,25%,25%,25%;
    height: 100vh;
    /* column-gap: 2%; */
}

.master{
    grid-column: 0,1;
    grid-row: 3,4;
    border: 3px,white;
}
.distortion{
    grid-column: 1,2;
    grid-row: 3,4;
    border: 3px,white;
}
.recorder{
    grid-column: 2,3;
    grid-row: 3,4;
    border: 3px,white;
}
/* p,
li{
    max-width:540px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-left:24px;
} */

h5{
    font-family: 'Protest Strike';
    font-size: 18px;
    margin-left: 20 px;
    margin-bottom:0px;
}

.home{
    grid-column:1/3;
    grid-row:1/4;
    overflow-y:auto;
    background-color:black;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;

}

.cunnies{
    grid-column:2/3;
    grid-row:1/4;
    background-color:black;
    margin-left: 2%;
    margin-right:2%;
    /* margin-top:20px;
    margin-bottom:20px; */
    /* position:fixed; */
    overflow:auto;
}

.sidebar{
    /* height:100%;
    width:180px; */
    grid-column:1/2;
    grid-row:1/4;
    /* position:fixed; */
    overflow-y: auto;
    /* top:0;
    left:20px; */
    background-color: rgb(64, 21, 105);
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: auto;
}

button{
    background-color: white;
    width:158px;
    height: 51px;
    align-items: left;
    font-size: 18px;
}

button:hover{
    background-color: black;
    color: white;
    
}



img{
    /* max-width:100%;
    max-height: 60vh; */
    /* height: 9000px; */
    display: block;
    margin: 0 auto;
    
}


  