html {
    font-size: 40px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: 'Orbitron', sans-serif;
    /* font-family: "Open Sans", sans-serif; this should be the rest of the output you got from Google Fonts */
    background-color: rgb(76, 76, 76);
}

p,
li{
    width:540px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 200;
}

button{
    background-color: gold;
    width:200px;
    height: 60px;
    align-items: center;
    font-size: 60%;
}
  
a:hover{
    border: 3px solid black;
}

h1{
    font-size: 90px;
    width:540px;
    text-align: center;
    margin: 0;
    /* padding: 20px; */
    color: rgb(254, 0, 237);
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    font-weight: 700;
}
h2{
    color:rgb(255, 119, 0);
    text-shadow: 2px 2px 1px rgb(0,0, 0);
    width:540px;
    text-align: center;
    font-size: 40px;
}
body{
    width:540px;
    margin:0 auto;
    background-color:rgb(155, 239, 235);
    padding: 0 20px 20px 20px;
    border: 20px solid black;
}
img{
    /* max-width:100%;
    max-height: 60vh; */
    /* height: 9000px; */
    display: block;
    margin: 0 auto;
}


  